<footer class="footer">
  <div class="contact-me">
    <a target="_blank" href="mailto:hey@kvivek.dev">
      E: hey@kvivek.dev
    </a>
  </div>
  <div class="soc-box">
    <div class="follow-label">Follow Me</div>
    <div class="soc">
      <a target="_blank" href="https://www.linkedin.com/in/kandhavivekraj/">
        <img src="/static/svgs/linkedin.svg" class="social-svg">
      </a>
      <a target="_blank" href="https://github.com/kandhavivekraj">
        <img src="/static/svgs/github.svg" class="social-svg">
      </a>
      <a target="_blank" href="https://twitter.com/keviv_raj">
        <img src="/static/svgs/twitter.svg" class="social-svg">
      </a>
      <a target="_blank" href="mailto:hey@kvivek.dev">
        <img src="/static/svgs/email.svg" class="social-svg">
      </a>
    </div>
  </div>
</footer>