<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kandha Vivek Raj K</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper-screen animated">
      {{post.html}}
    <div>
  </body>
</html>
