<!DOCTYPE html>
<html>
  <head>
    <title>Kandha Vivek Raj K</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" id="cvio-fonts-css" href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <link href="/static/css/styles.css" rel="stylesheet">
    {% set current = "about" %}
  </head>
  <body class="home">
    {% include "nav.html" %}
    <div class="container">
      <div class="page-intro">
        <h3 class="text-lg"> Vivek... </h3>

        <p class="color-dark mt-50" style="line-height: 2;">
          I'm currently working as a Senior FrontEnd engineer at Zoho, where i will be writing and managing code for core modules of a finance application (Zoho Books). I used to code in EmberJS and React.
          <br/><br/>
          I built user friendly applications by collobrating with UX and UI teams and i love giving more importance to performance as key metric while developing applications.
          <br/><br/>
          I contribute more to framework team by creating and managing various internal tools which involves custom website build tool and custom lint rules. I involved in the various deployment process for different environments(staging, development, production) of our applications.
          <br/><br/>

          In my personal, i want to travel more and want to explore more places and having fun with my buddies!!!... 💕
        <p>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>
